.App {
  min-height: 100vh;
}

.App-header {
  background-color: #7433f1;
  height: 15vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 2.5rem;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

.flex-row {
  display: flex;
  min-height: 85vh;
}

.section {
  width: 50%;
  padding: 3.5rem;
}

#search-bar {
  /* display: grid; */
  /* grid-template-columns: 7fr 1fr; */
  display: flex;
  margin-bottom: 2rem;
}

#search-input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #000000;
  font-size: 1.5rem;
  flex: 1;
}

#search-input:focus {
  outline: none;
}

#search-button {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #7433f1;
  border: none;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.message {
  padding: 1rem;
  font-size: 1.5rem;
}

.result-table {
  font-size: 1.15rem;
}

td, th {
  padding: 0.25rem;
}

.add-remove-col {
  min-width: 2rem;
}

#favorite-section {
  background-color: #f3ecfe;
  min-height: 100%;
}